In [3]:
import pyspark

In [13]:
import pandas as pd
pd.read_csv('file_example.csv')

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

# Starting Pyspark session

In [5]:
#import session to start the pyspark session
from pyspark.sql import SparkSession

In [6]:
#starting a session and naming it as 'Practise'
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
#Details of session and cluster
spark

In [14]:
#Reading the csv file using pyspark
df_pyspark = spark.read.csv('file_example.csv')

In [15]:
#columns of dataset
#by default it takes all rows as a data entries
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

In [16]:
#glance at dataset
df_pyspark.show()

+---+----------+---------+------+-------------+---+----------+----+
|_c0|       _c1|      _c2|   _c3|          _c4|_c5|       _c6| _c7|
+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [18]:
#Reading the dataset with column names

df_spark = spark.read.option('header','true').csv('file_example.csv')
df_spark

DataFrame[0: string, First Name: string, Last Name: string, Gender: string, Country: string, Age: string, Date: string, Id: string]

In [20]:
#glance at dataset
df_spark.show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [21]:
#checking the type of df_spark
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [23]:
#checking first 5 rows of data
df_spark.head(5)

[Row(0='1', First Name='Dulce', Last Name='Abril', Gender='Female', Country='United States', Age='32', Date='15/10/2017', Id='1562'),
 Row(0='2', First Name='Mara', Last Name='Hashimoto', Gender='Female', Country='Great Britain', Age='25', Date='16/08/2016', Id='1582'),
 Row(0='3', First Name='Philip', Last Name='Gent', Gender='Male', Country='France', Age='36', Date='21/05/2015', Id='2587'),
 Row(0='4', First Name='Kathleen', Last Name='Hanner', Gender='Female', Country='United States', Age='25', Date='15/10/2017', Id='3549'),
 Row(0='5', First Name='Nereida', Last Name='Magwood', Gender='Female', Country='United States', Age='58', Date='16/08/2016', Id='2468')]

In [25]:
#checking the columns names same as df.info() in pandas
df_spark.printSchema()

root
 |-- 0: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Id: string (nullable = true)