# Dealing With DataFrame

PySpark Dataframe

Reading The Dataset

Checking the Datatypes of the Column(Schema)

Selecting Columns And Indexing

Check Describe option similar to Pandas

Adding Columns

Dropping columns

Renaming Columns

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [11]:
## reading the dataset
## Unless we give inferschema=True, it will take all values as String
df_spark = spark.read.option('header','true').csv('file_example.csv',inferSchema=True)
df_spark.show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [12]:
## check the schema
df_spark.printSchema()

root
 |-- 0: integer (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Id: integer (nullable = true)

In [13]:
## Another way to read dataframe
df_spark = spark.read.csv('file_example.csv',header=True,inferSchema=True)
df_spark.show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [14]:
## check the schema
df_spark.printSchema()

root
 |-- 0: integer (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Id: integer (nullable = true)

In [15]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

# Selecting Columns And Indexing

In [17]:
#columns of data frame
df_spark.columns

['0', 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id']

In [20]:
#first 5 entries, in list format
df_spark.head(5)

[Row(0=1, First Name='Dulce', Last Name='Abril', Gender='Female', Country='United States', Age=32, Date='15/10/2017', Id=1562),
 Row(0=2, First Name='Mara', Last Name='Hashimoto', Gender='Female', Country='Great Britain', Age=25, Date='16/08/2016', Id=1582),
 Row(0=3, First Name='Philip', Last Name='Gent', Gender='Male', Country='France', Age=36, Date='21/05/2015', Id=2587),
 Row(0=4, First Name='Kathleen', Last Name='Hanner', Gender='Female', Country='United States', Age=25, Date='15/10/2017', Id=3549),
 Row(0=5, First Name='Nereida', Last Name='Magwood', Gender='Female', Country='United States', Age=58, Date='16/08/2016', Id=2468)]

## Indexing

In [22]:
#selecting the column
df_spark.select('First Name').show()

+----------+
|First Name|
+----------+
|     Dulce|
|      Mara|
|    Philip|
|  Kathleen|
|   Nereida|
|    Gaston|
|      Etta|
|   Earlean|
|  Vincenza|
+----------+

In [23]:
#multiple columns
df_spark.select(['First Name','Last Name']).show()

+----------+---------+
|First Name|Last Name|
+----------+---------+
|     Dulce|    Abril|
|      Mara|Hashimoto|
|    Philip|     Gent|
|  Kathleen|   Hanner|
|   Nereida|  Magwood|
|    Gaston|    Brumm|
|      Etta|     Hurn|
|   Earlean|   Melgar|
|  Vincenza|  Weiland|
+----------+---------+

In [25]:
df_spark['First Name']

Column<'First Name'>

## Checking Datatype

In [30]:
#datatype
df_spark.dtypes

[('0', 'int'),
 ('First Name', 'string'),
 ('Last Name', 'string'),
 ('Gender', 'string'),
 ('Country', 'string'),
 ('Age', 'int'),
 ('Date', 'string'),
 ('Id', 'int')]

In [34]:
#statical of dataframe
df_spark.describe().show()

+-------+------------------+----------+---------+------+-------------+------------------+----------+------------------+
|summary|                 0|First Name|Last Name|Gender|      Country|               Age|      Date|                Id|
+-------+------------------+----------+---------+------+-------------+------------------+----------+------------------+
|  count|                 9|         9|        9|     9|            9|                 9|         9|                 9|
|   mean|               5.0|      null|     null|  null|         null|35.888888888888886|      null|2989.3333333333335|
| stddev|2.7386127875258306|      null|     null|  null|         null| 13.14766561451542|      null|1511.3445173090086|
|    min|                 1|     Dulce|    Abril|Female|       France|                24|15/10/2017|              1562|
|    max|                 9|  Vincenza|  Weiland|  Male|United States|                58|21/05/2015|              6548|
+-------+------------------+----------+---------+------+-------------+------------------+----------+------------------+

In [37]:
# adding columns in dataframe
df_spark.withColumn('Age after 2 years',df_spark['Age']+2).show()

+---+----------+---------+------+-------------+---+----------+----+-----------------+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|Age after 2 years|
+---+----------+---------+------+-------------+---+----------+----+-----------------+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|               34|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|               27|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|               38|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|               27|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|               60|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|               26|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|               58|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|               29|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|               42|
+---+----------+---------+------+-------------+---+----------+----+-----------------+

In [39]:
#adding into dataframe
df_spark = df_spark.withColumn('Age after 2 years',df_spark['Age']+2)
df_spark.show()

+---+----------+---------+------+-------------+---+----------+----+-----------------+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|Age after 2 years|
+---+----------+---------+------+-------------+---+----------+----+-----------------+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|               34|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|               27|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|               38|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|               27|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|               60|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|               26|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|               58|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|               29|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|               42|
+---+----------+---------+------+-------------+---+----------+----+-----------------+

In [40]:
#droping columns
df_spark.drop('Age after 2 years').show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [41]:
#change in dataframe
df_spark = df_spark.drop('Age after 2 years')
df_spark.show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [42]:
#rename the columns
df_spark.withColumnRenamed('Gender','Sex').show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|   Sex|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+