# Pyspark Dataframes

Filter Operation

&,|,==

~

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Filter Operation').getOrCreate()

In [6]:
spark

# Loading Dataset

In [7]:
df_spark = spark.read.csv('file_example.csv',header=True,inferSchema=True)
df_spark.show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

# Filter Operation

In [10]:
# Age of the people less than or equal to 40
df_spark.filter('Age>=40').show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [12]:
# Name of people have Age less than or equal to 40
df_spark.filter('Age>=40').select(['First Name','Age']).show()

+----------+---+
|First Name|Age|
+----------+---+
|   Nereida| 58|
|      Etta| 56|
|  Vincenza| 40|
+----------+---+

In [13]:
df_spark.filter(df_spark['Age']>=20).show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [22]:
## 2 Different Condition
df_spark.filter(('Age>=40') & ('Gender==Female')).show()

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [24]:
## 2 Different Condition (AND, &)
df_spark.filter((df_spark['Age']>=20) & (df_spark['Gender']=='Female')).show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [25]:
## 2 Different Condition (OR, |)
df_spark.filter((df_spark['Age']>=20) | (df_spark['Gender']=='Female')).show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  1|     Dulce|    Abril|Female|United States| 32|15/10/2017|1562|
|  2|      Mara|Hashimoto|Female|Great Britain| 25|16/08/2016|1582|
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  4|  Kathleen|   Hanner|Female|United States| 25|15/10/2017|3549|
|  5|   Nereida|  Magwood|Female|United States| 58|16/08/2016|2468|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
|  7|      Etta|     Hurn|Female|Great Britain| 56|15/10/2017|3598|
|  8|   Earlean|   Melgar|Female|United States| 27|16/08/2016|2456|
|  9|  Vincenza|  Weiland|Female|United States| 40|21/05/2015|6548|
+---+----------+---------+------+-------------+---+----------+----+

In [27]:
## 2 Different Condition (NOT , ~)
df_spark.filter((df_spark['Age']>=20) & ~(df_spark['Gender']=='Female')).show()

+---+----------+---------+------+-------------+---+----------+----+
|  0|First Name|Last Name|Gender|      Country|Age|      Date|  Id|
+---+----------+---------+------+-------------+---+----------+----+
|  3|    Philip|     Gent|  Male|       France| 36|21/05/2015|2587|
|  6|    Gaston|    Brumm|  Male|United States| 24|21/05/2015|2554|
+---+----------+---------+------+-------------+---+----------+----+